:root {

    --text-color: var(--color-base-900);
    --base-color: var(--color-base-0);

    /* Border radius */

    --border-radius: var(--border-radius-s);

    --border-radius-none: 0;
    --border-radius-xxs: 1px;
    --border-radius-xs: 2px;
    --border-radius-s: 4px;
    --border-radius-m: 8px;
    --border-radius-l: 16px;
    --border-radius-xl: 32px;
    --border-radius-xxl: 64px;

    /* Shadows */

    --shadow-color-light: light-dark(rgba(0,0,0,.1), rgba(0,0,0,.5));
    --shadow-color-medium: light-dark(rgba(0,0,0,.2), rgba(0,0,0,.75));
    --shadow-color-heavy: light-dark(rgba(0,0,0,.3), rgba(0,0,0,.9));

    /* Misc */

    --color-subtle: var(--color-base-700);
    --color-sublime: var(--color-base-600);

}
