:root {

    --color-base-0: light-dark(var(--color-base-light-0), var(--color-base-dark-0));
    --color-base-50: light-dark(var(--color-base-light-50), var(--color-base-dark-50));
    --color-base-100: light-dark(var(--color-base-light-100), var(--color-base-dark-100));
    --color-base-200: light-dark(var(--color-base-light-200), var(--color-base-dark-200));
    --color-base-300: light-dark(var(--color-base-light-300), var(--color-base-dark-300));
    --color-base-400: light-dark(var(--color-base-light-400), var(--color-base-dark-400));
    --color-base-500: light-dark(var(--color-base-light-500), var(--color-base-dark-500));
    --color-base-600: light-dark(var(--color-base-light-600), var(--color-base-dark-600));
    --color-base-700: light-dark(var(--color-base-light-700), var(--color-base-dark-700));
    --color-base-800: light-dark(var(--color-base-light-800), var(--color-base-dark-800));
    --color-base-900: light-dark(var(--color-base-light-900), var(--color-base-dark-900));
    --color-base-950: light-dark(var(--color-base-light-950), var(--color-base-dark-950));

    --color-inverse-0: light-dark(var(--color-base-dark-0), var(--color-base-light-0));
    --color-inverse-50: light-dark(var(--color-base-dark-50), var(--color-base-light-50));
    --color-inverse-100: light-dark(var(--color-base-dark-100), var(--color-base-light-100));
    --color-inverse-200: light-dark(var(--color-base-dark-200), var(--color-base-light-200));
    --color-inverse-300: light-dark(var(--color-base-dark-300), var(--color-base-light-300));
    --color-inverse-400: light-dark(var(--color-base-dark-400), var(--color-base-light-400));
    --color-inverse-500: light-dark(var(--color-base-dark-500), var(--color-base-light-500));
    --color-inverse-600: light-dark(var(--color-base-dark-600), var(--color-base-light-600));
    --color-inverse-700: light-dark(var(--color-base-dark-700), var(--color-base-light-700));
    --color-inverse-800: light-dark(var(--color-base-dark-800), var(--color-base-light-800));
    --color-inverse-900: light-dark(var(--color-base-dark-900), var(--color-base-light-900));
    --color-inverse-950: light-dark(var(--color-base-dark-950), var(--color-base-light-950));
    
}