:root {
    /* 12-column grid */

    --gr1: calc(100% / 12);
    --gr2: calc(2 * 100% / 12);
    --gr3: calc(3 * 100% / 12);
    --gr4: calc(4 * 100% / 12);
    --gr5: calc(5 * 100% / 12);
    --gr6: calc(6 * 100% / 12);
    --gr7: calc(7 * 100% / 12);
    --gr8: calc(8 * 100% / 12);
    --gr9: calc(9 * 100% / 12);
    --gr10: calc(10 * 100% / 12);
    --gr11: calc(11 * 100% / 12);
    --gr12: 100%;

    --vgr1: calc(100vw / 12);
    --vgr2: calc(2 * 100vw / 12);
    --vgr3: calc(3 * 100vw / 12);
    --vgr4: calc(4 * 100vw / 12);
    --vgr5: calc(5 * 100vw / 12);
    --vgr6: calc(6 * 100vw / 12);
    --vgr7: calc(7 * 100vw / 12);
    --vgr8: calc(8 * 100vw / 12);
    --vgr9: calc(9 * 100vw / 12);
    --vgr10: calc(10 * 100vw / 12);
    --vgr11: calc(11 * 100vw / 12);
    --vgr12: 100vw;
}
