:root {

    /* Default size */

    --input-height: var(--input-size-m);
    --input-font-size: var(--font-size-m);
    --input-padding-x: var(--sp1-5);
    --input-padding-y: var(--sp1);
    --input-gap: var(--sp1);

    /* Sizes */

    --input-size-xs-height: var(--sp2-5);
    --input-size-xs-font-size: var(--font-size-xs);
    --input-size-xs-padding-x: var(--sp1);
    --input-size-xs-padding-y: var(--sp0-5);
    --input-size-xs-gap: var(--sp0-5);

    --input-size-s-height: var(--sp3);
    --input-size-s-font-size: var(--font-size-s);
    --input-size-s-padding-x: var(--sp1);
    --input-size-s-padding-y: var(--sp0-5);
    --input-size-s-gap: var(--sp0-5);

    --input-size-m-height: var(--sp4);
    --input-size-m-font-size: var(--font-size-m);
    --input-size-m-padding-x: var(--sp1-5);
    --input-size-m-padding-y: var(--sp1);
    --input-size-m-gap: var(--sp1);

    --input-size-l-height: var(--sp5);
    --input-size-l-font-size: var(--font-size-m);
    --input-size-l-padding-x: var(--sp2);
    --input-size-l-padding-y: var(--sp1);
    --input-size-l-gap: var(--sp1);

    --input-size-xl-height: var(--sp6);
    --input-size-xl-font-size: var(--font-size-l);
    --input-size-xl-padding-x: var(--sp2-5);
    --input-size-xl-padding-y: var(--sp1-5);
    --input-size-xl-gap: var(--sp1-5);

}

.input-size-xxs {
    --input-height: var(--input-size-xxs-height);
    --input-font-size: var(--input-size-xxs-font-size);
    --input-padding-x: var(--input-size-xxs-padding-x);
    --input-padding-y: var(--input-size-xxs-padding-y);
    --input-gap: var(--input-size-xxs-gap);
}

.input-size-xs {
    --input-height: var(--input-size-xs-height);
    --input-font-size: var(--input-size-xs-font-size);
    --input-padding-x: var(--input-size-xs-padding-x);
    --input-padding-y: var(--input-size-xs-padding-y);
    --input-gap: var(--input-size-xs-gap);
}

.input-size-s, .input-size-small {
    --input-height: var(--input-size-s-height);
    --input-font-size: var(--input-size-s-font-size);
    --input-padding-x: var(--input-size-s-padding-x);
    --input-padding-y: var(--input-size-s-padding-y);
    --input-gap: var(--input-size-s-gap);
}

.input-size-m, .input-size-medium, .input-size-normal {
    --input-height: var(--input-size-m-height);
    --input-font-size: var(--input-size-m-font-size);
    --input-padding-x: var(--input-size-m-padding-x);
    --input-padding-y: var(--input-size-m-padding-y);
    --input-gap: var(--input-size-m-gap);
}

.input-size-l, .input-size-large {
    --input-height: var(--input-size-l-height); 
    --input-font-size: var(--input-size-l-font-size);
    --input-padding-x: var(--input-size-l-padding-x);
    --input-padding-y: var(--input-size-l-padding-y);
    --input-gap: var(--input-size-l-gap);
}

.input-size-xl {
    --input-height: var(--input-size-xl-height);
    --input-font-size: var(--input-size-xl-font-size);
    --input-padding-x: var(--input-size-xl-padding-x);
    --input-padding-y: var(--input-size-xl-padding-y);
    --input-gap: var(--input-size-xl-gap);
}

.input-size-xxl {
    --input-height: var(--input-size-xxl-height);
    --input-font-size: var(--input-size-xxl-font-size);
    --input-padding-x: var(--input-size-xxl-padding-x);
    --input-gap: var(--input-size-xxl-gap);
}   