:root {
    --input-size: var(--input-size-m);
    --input-size-xs: var(--sp2);
    --input-size-s: var(--sp3);
    --input-size-m: var(--sp4);
    --input-size-l: var(--sp5);
    --input-size-xl: var(--sp6);

    --input-border-size: 2px;
    --input-outline-size: 2px;
    --input-outline-offset: 0;
}

.input-kind-base {
    --input-text-color: var(--color-base-900);
    --input-surface-color: var(--color-base-0);
    --input-surface-color-top: light-dark(var(--color-base-0), var(--color-base-200));
    --input-surface-color-bottom: light-dark(var(--color-base-200), var(--color-base-0));
    --input-surface-color-text: var(--color-base-900);
    --input-border-color: var(--color-base-400);
    --input-shadow-color: var(--shadow-color-light);
    --input-focus-light-color: light-dark(var(--color-secondary-300), var(--color-secondary-700));
    --input-focus-medium-color: var(--color-secondary-500);
    --input-focus-heavy-color: light-dark(var(--color-secondary-600), var(--color-secondary-400));
}

.input-kind-inverse {
    --input-text-color: var(--color-inverse-0);
    --input-surface-color: var(--color-inverse-0);
    --input-surface-color-top: light-dark(var(--color-inverse-0), var(--color-inverse-200));
    --input-surface-color-bottom: light-dark(var(--color-inverse-200), var(--color-inverse-0));
    --input-surface-color-text: var(--color-inverse-900);
    --input-border-color: var(--color-inverse-0);
    --input-shadow-color: var(--shadow-color-light);
    --input-focus-light-color: var(--color-secondary-300);
    --input-focus-medium-color: var(--color-secondary-500);
    --input-focus-heavy-color: light-dark(var(--color-secondary-600), var(--color-secondary-400));
}

.input-kind-primary {
    --input-text-color: light-dark(var(--color-primary-500), var(--color-primary-400));
    --input-surface-color: var(--color-primary-500);
    --input-surface-color-top: var(--color-primary-400);
    --input-surface-color-bottom: var(--color-primary-600);
    --input-surface-color-text: #fff;
    --input-border-color: light-dark(var(--color-primary-600), var(--color-primary-400));
    --input-shadow-color: var(--color-primary-900);
    --input-focus-light-color: var(--color-primary-300);
    --input-focus-medium-color: var(--color-primary-700);
    --input-focus-heavy-color: light-dark(var(--color-primary-500), var(--color-primary-400));
}

.input-kind-secondary {
    --input-text-color: light-dark(var(--color-secondary-500), var(--color-secondary-400));
    --input-surface-color: var(--color-secondary-500);
    --input-surface-color-top: var(--color-secondary-400);
    --input-surface-color-bottom: var(--color-secondary-600);
    --input-surface-color-text: #fff;
    --input-border-color: light-dark(var(--color-secondary-600), var(--color-secondary-400));
    --input-shadow-color: var(--color-secondary-900);
    --input-focus-light-color: var(--color-secondary-300);
    --input-focus-medium-color: var(--color-secondary-700);
    --input-focus-heavy-color: light-dark(var(--color-secondary-500), var(--color-secondary-400));
}

.input-kind-tertiary {
    --input-text-color: light-dark(var(--color-tertiary-500), var(--color-tertiary-400));
    --input-surface-color: var(--color-tertiary-500);
    --input-surface-color-top: var(--color-tertiary-400);
    --input-surface-color-bottom: var(--color-tertiary-600);
    --input-surface-color-text: #fff;
    --input-border-color: light-dark(var(--color-tertiary-600), var(--color-tertiary-400));
    --input-shadow-color: var(--color-tertiary-900);
    --input-focus-light-color: var(--color-tertiary-300);
    --input-focus-medium-color: var(--color-tertiary-700);
    --input-focus-heavy-color: light-dark(var(--color-tertiary-500), var(--color-tertiary-400));
}

.input-kind-success {
    --input-text-color: light-dark(var(--color-success-500), var(--color-success-400));
    --input-surface-color: var(--color-success-500);
    --input-surface-color-top: var(--color-success-400);
    --input-surface-color-bottom: var(--color-success-600);
    --input-surface-color-text: #fff;
    --input-border-color: light-dark(var(--color-success-600), var(--color-success-400));
    --input-shadow-color: var(--color-success-900);
    --input-focus-light-color: var(--color-success-300);
    --input-focus-medium-color: var(--color-success-700);
    --input-focus-heavy-color: light-dark(var(--color-success-500), var(--color-success-400));
}

.input-kind-warning {
    --input-text-color: light-dark(var(--color-warning-500), var(--color-warning-400));
    --input-surface-color: var(--color-warning-500);
    --input-surface-color-top: var(--color-warning-400);
    --input-surface-color-bottom: var(--color-warning-600);
    --input-surface-color-text: #fff;
    --input-border-color: light-dark(var(--color-warning-600), var(--color-warning-400));
    --input-shadow-color: var(--color-warning-900);
    --input-focus-light-color: var(--color-warning-300);
    --input-focus-medium-color: var(--color-warning-700);
    --input-focus-heavy-color: light-dark(var(--color-warning-500), var(--color-warning-400));
}

.input-kind-danger {
    --input-text-color: light-dark(var(--color-danger-500), var(--color-danger-400));
    --input-surface-color: var(--color-danger-500);
    --input-surface-color-top: var(--color-danger-400);
    --input-surface-color-bottom: var(--color-danger-600);
    --input-surface-color-text: #fff;
    --input-border-color: var(--color-danger-600);
    --input-shadow-color: var(--color-danger-900);
    --input-focus-light-color: var(--color-danger-300);
    --input-focus-medium-color: var(--color-danger-700);
    --input-focus-heavy-color: light-dark(var(--color-danger-500), var(--color-danger-400));
}
