:root {

    /* Fixed spacing */

    --sp: 8px;
    --sp0-25: calc(0.25 * var(--sp));
    --sp0-5: calc(0.5 * var(--sp));
    --sphalf: var(--sp0-5);
    --sp1: var(--sp);
    --sp1-5: calc(1.5 * var(--sp));
    --sp2: calc(2 * var(--sp));
    --sp2-5: calc(2.5 * var(--sp));
    --sp3: calc(3 * var(--sp));
    --sp4: calc(4 * var(--sp));
    --sp5: calc(5 * var(--sp));
    --sp6: calc(6 * var(--sp));
    --sp7: calc(7 * var(--sp));
    --sp8: calc(8 * var(--sp));
    --sp9: calc(9 * var(--sp));
    --sp10: calc(10 * var(--sp));
    --sp12: calc(12 * var(--sp));
    --sp16: calc(16 * var(--sp));
    --sp20: calc(20 * var(--sp));
    --sp24: calc(24 * var(--sp));
    --sp28: calc(28 * var(--sp));
    --sp32: calc(32 * var(--sp));
    --sp36: calc(36 * var(--sp));
    --sp40: calc(40 * var(--sp));
    --sp44: calc(44 * var(--sp));
    --sp48: calc(48 * var(--sp));
    --sp52: calc(52 * var(--sp));
    --sp56: calc(56 * var(--sp));
    --sp60: calc(60 * var(--sp));
    --sp64: calc(64 * var(--sp));
    --sp68: calc(68 * var(--sp));
    --sp72: calc(72 * var(--sp));
    --sp76: calc(76 * var(--sp));
    --sp80: calc(80 * var(--sp));
    --sp84: calc(84 * var(--sp));
    --sp88: calc(88 * var(--sp));
    --sp92: calc(92 * var(--sp));
    --sp96: calc(96 * var(--sp));
    --sp100: calc(100 * var(--sp));

    /* Semantic fixed spacing */

    --sp-xxs: var(--sp0-25);
    --sp-xs: var(--sp0-5);
    --sp-s: var(--sp1);
    --sp-m: var(--sp2);
    --sp-l: var(--sp4);
    --sp-xl: var(--sp8);
    --sp-xxl: var(--sp16);
}
