:root {
    --ui-base--z: 0;
    --ui-base-text-color: var(--color-base-900);
    --ui-base-surface-color: var(--color-base-0);
    --ui-base-surface-color-top: light-dark(var(--color-base-0), var(--color-base-200));
    --ui-base-surface-color-bottom: light-dark(var(--color-base-200), var(--color-base-0));
    --ui-base-surface-color-text: var(--color-base-900);
    --ui-base-border-color: var(--color-base-400);
    --ui-base-shadow-color: var(--shadow-color-medium);
    --ui-base-focus-light-color: light-dark(var(--color-secondary-300), var(--color-secondary-700));
    --ui-base-focus-medium-color: light-dark(var(--color-secondary-600), var(--color-secondary-400));

    --ui-inverse-z: 1;
    --ui-inverse-text-color: var(--color-inverse-0);
    --ui-inverse-surface-color: var(--color-inverse-0);
    --ui-inverse-surface-color-top: light-dark(var(--color-inverse-200), var(--color-inverse-0));
    --ui-inverse-surface-color-bottom: light-dark(var(--color-inverse-0), var(--color-inverse-200));
    --ui-inverse-surface-color-text: var(--color-inverse-900);
    --ui-inverse-border-color: var(--color-inverse-0);
    --ui-inverse-shadow-color: light-dark(var(--color-inverse-700), var(--color-inverse-500));
    --ui-inverse-focus-light-color: light-dark(var(--color-secondary-300), var(--color-secondary-700));
    --ui-inverse-focus-medium-color: light-dark(var(--color-secondary-600), var(--color-secondary-400));

    --ui-primary-z: 5;
    --ui-primary-text-color: light-dark(var(--color-primary-500), var(--color-primary-400));
    --ui-primary-surface-color: var(--color-primary-500);
    --ui-primary-surface-color-top: var(--color-primary-400);
    --ui-primary-surface-color-bottom: var(--color-primary-600);
    --ui-primary-surface-color-text: #fff;
    --ui-primary-border-color: light-dark(var(--color-primary-600), var(--color-primary-400));
    --ui-primary-shadow-color: var(--color-primary-800);
    --ui-primary-focus-light-color: light-dark(var(--color-primary-300), var(--color-primary-700));
    --ui-primary-focus-medium-color: light-dark(var(--color-primary-600), var(--color-primary-400));

    --ui-secondary-z: 4;
    --ui-secondary-text-color: light-dark(var(--color-secondary-500), var(--color-secondary-400));
    --ui-secondary-surface-color: var(--color-secondary-500);
    --ui-secondary-surface-color-top: var(--color-secondary-400);
    --ui-secondary-surface-color-bottom: var(--color-secondary-600);
    --ui-secondary-surface-color-text: #fff;
    --ui-secondary-border-color: light-dark(var(--color-secondary-600), var(--color-secondary-400));
    --ui-secondary-shadow-color: var(--color-secondary-800);
    --ui-secondary-focus-light-color: light-dark(var(--color-secondary-300), var(--color-secondary-700));
    --ui-secondary-focus-medium-color: light-dark(var(--color-secondary-600), var(--color-secondary-400));

    --ui-tertiary-z: 3;
    --ui-tertiary-text-color: light-dark(var(--color-tertiary-500), var(--color-tertiary-400));
    --ui-tertiary-surface-color: var(--color-tertiary-500);
    --ui-tertiary-surface-color-top: var(--color-tertiary-400);
    --ui-tertiary-surface-color-bottom: var(--color-tertiary-600);
    --ui-tertiary-surface-color-text: #fff;
    --ui-tertiary-border-color: light-dark(var(--color-tertiary-600), var(--color-tertiary-400));
    --ui-tertiary-shadow-color: var(--color-tertiary-800);
    --ui-tertiary-focus-light-color: light-dark(var(--color-tertiary-300), var(--color-tertiary-700));
    --ui-tertiary-focus-medium-color: light-dark(var(--color-tertiary-600), var(--color-tertiary-400));

    --ui-success-z: 3;
    --ui-success-text-color: light-dark(var(--color-success-500), var(--color-success-400));
    --ui-success-surface-color: var(--color-success-500);
    --ui-success-surface-color-top: var(--color-success-400);
    --ui-success-surface-color-bottom: var(--color-success-600);
    --ui-success-surface-color-text: #fff;
    --ui-success-border-color: light-dark(var(--color-success-600), var(--color-success-400));
    --ui-success-shadow-color: var(--color-success-800);
    --ui-success-focus-light-color: light-dark(var(--color-success-300), var(--color-success-700));
    --ui-success-focus-medium-color: light-dark(var(--color-success-600), var(--color-success-400));

    --ui-warning-z: 3;
    --ui-warning-text-color: light-dark(var(--color-warning-500), var(--color-warning-400));
    --ui-warning-surface-color: var(--color-warning-500);
    --ui-warning-surface-color-top: var(--color-warning-400);
    --ui-warning-surface-color-bottom: var(--color-warning-600);
    --ui-warning-surface-color-text: #fff;
    --ui-warning-border-color: light-dark(var(--color-warning-600), var(--color-warning-400));
    --ui-warning-shadow-color: var(--color-warning-800);
    --ui-warning-focus-light-color: light-dark(var(--color-warning-300), var(--color-warning-700));
    --ui-warning-focus-medium-color: light-dark(var(--color-warning-600), var(--color-warning-400));

    --ui-danger-z: 3;
    --ui-danger-text-color: light-dark(var(--color-danger-500), var(--color-danger-400));
    --ui-danger-surface-color: var(--color-danger-500);
    --ui-danger-surface-color-top: var(--color-danger-400);
    --ui-danger-surface-color-bottom: var(--color-danger-600);
    --ui-danger-surface-color-text: #fff;
    --ui-danger-border-color: light-dark(var(--color-danger-600), var(--color-danger-400));;
    --ui-danger-shadow-color: var(--color-danger-800);
    --ui-danger-focus-light-color: light-dark(var(--color-danger-300), var(--color-danger-700));
    --ui-danger-focus-medium-color: light-dark(var(--color-danger-600), var(--color-danger-400));
}