.input-kind-base {
    --input-z: var(--ui-base-z);
    --input-text-color: var(--ui-base-text-color);
    --input-surface-color: var(--ui-base-surface-color);
    --input-surface-color-top: var(--ui-base-surface-color-top);
    --input-surface-color-bottom: var(--ui-base-surface-color-bottom);
    --input-surface-color-text: var(--ui-base-surface-color-text);
    --input-border-color: var(--ui-base-border-color);
    --input-shadow-color: var(--ui-base-shadow-color);
    --input-focus-light-color: var(--ui-base-focus-light-color);
    --input-focus-medium-color: var(--ui-base-focus-medium-color);
}

.input-kind-inverse {
    --input-z: var(--ui-inverse-z);
    --input-text-color: var(--color-inverse-0);
    --input-surface-color: var(--ui-inverse-surface-color);
    --input-surface-color-top: var(--ui-inverse-surface-color-top);
    --input-surface-color-bottom: var(--ui-inverse-surface-color-bottom);
    --input-surface-color-text: var(--ui-inverse-surface-color-text);
    --input-border-color: var(--ui-inverse-border-color);
    --input-shadow-color: var(--ui-inverse-shadow-color);
    --input-focus-light-color: var(--ui-inverse-focus-light-color);
    --input-focus-medium-color: var(--ui-inverse-focus-medium-color);
}

.input-kind-primary {
    --input-z: var(--ui-primary-z);
    --input-text-color: var(--ui-primary-text-color);
    --input-surface-color: var(--ui-primary-surface-color);
    --input-surface-color-top: var(--ui-primary-surface-color-top);
    --input-surface-color-bottom: var(--ui-primary-surface-color-bottom);
    --input-surface-color-text: var(--ui-primary-surface-color-text);
    --input-border-color: var(--ui-primary-border-color);
    --input-shadow-color: var(--ui-primary-shadow-color);
    --input-focus-light-color: var(--ui-primary-focus-light-color);
    --input-focus-medium-color: var(--ui-primary-focus-medium-color);
}

.input-kind-secondary {
    --input-z: var(--ui-secondary-z);
    --input-text-color: var(--ui-secondary-text-color);
    --input-surface-color: var(--ui-secondary-surface-color);
    --input-surface-color-top: var(--ui-secondary-surface-color-top);
    --input-surface-color-bottom: var(--ui-secondary-surface-color-bottom);
    --input-surface-color-text: var(--ui-secondary-surface-color-text);
    --input-border-color: var(--ui-secondary-border-color);
    --input-shadow-color: var(--ui-secondary-shadow-color);
    --input-focus-light-color: var(--ui-secondary-focus-light-color);
    --input-focus-medium-color: var(--ui-secondary-focus-medium-color);
}

.input-kind-tertiary {
    --input-z: var(--ui-tertiary-z);
    --input-text-color: var(--ui-tertiary-text-color);
    --input-surface-color: var(--ui-tertiary-surface-color);
    --input-surface-color-top: var(--ui-tertiary-surface-color-top);
    --input-surface-color-bottom: var(--ui-tertiary-surface-color-bottom);
    --input-surface-color-text: var(--ui-tertiary-surface-color-text);
    --input-border-color: var(--ui-tertiary-border-color);
    --input-shadow-color: var(--ui-tertiary-shadow-color);
    --input-focus-light-color: var(--ui-tertiary-focus-light-color);
    --input-focus-medium-color: var(--ui-tertiary-focus-medium-color);
}

.input-kind-success {
    --input-z: var(--ui-success-z);
    --input-text-color: var(--ui-success-text-color);
    --input-surface-color: var(--ui-success-surface-color);
    --input-surface-color-top: var(--ui-success-surface-color-top);
    --input-surface-color-bottom: var(--ui-success-surface-color-bottom);
    --input-surface-color-text: var(--ui-success-surface-color-text);
    --input-border-color: var(--ui-success-border-color);
    --input-shadow-color: var(--ui-success-shadow-color);
    --input-focus-light-color: var(--ui-success-focus-light-color);
    --input-focus-medium-color: var(--ui-success-focus-medium-color);
}

.input-kind-warning {
    --input-z: var(--ui-warning-z);
    --input-text-color: var(--ui-warning-text-color);
    --input-surface-color: var(--ui-warning-surface-color);
    --input-surface-color-top: var(--ui-warning-surface-color-top);
    --input-surface-color-bottom: var(--ui-warning-surface-color-bottom);
    --input-surface-color-text: var(--ui-warning-surface-color-text);
    --input-border-color: var(--ui-warning-border-color);
    --input-shadow-color: var(--ui-warning-shadow-color);
    --input-focus-light-color: var(--ui-warning-focus-light-color);
    --input-focus-medium-color: var(--ui-warning-focus-medium-color);
}

.input-kind-danger {
    --input-z: var(--ui-danger-z);
    --input-text-color: var(--ui-danger-text-color);
    --input-surface-color: var(--ui-danger-surface-color);
    --input-surface-color-top: var(--ui-danger-surface-color-top);
    --input-surface-color-bottom: var(--ui-danger-surface-color-bottom);
    --input-surface-color-text: var(--ui-danger-surface-color-text);
    --input-border-color: var(--ui-danger-border-color);
    --input-shadow-color: var(--ui-danger-shadow-color);
    --input-focus-light-color: var(--ui-danger-focus-light-color);
    --input-focus-medium-color: var(--ui-danger-focus-medium-color);
}