kbd {
    --kbd-surface-top: light-dark(var(--color-base-0), var(--color-base-100));
    --kbd-surface-bottom: light-dark(var(--color-base-100), var(--color-base-0));

    position: relative;

    display: inline-block;
    text-align: center;

    height: 1.5em;
    min-width: 1.5em;
    padding: 0 .25em;
    margin: 0 2px;
    border-radius: var(--border-radius-xs);

    border: 1px solid var(--color-base-200);
    border-bottom-color: var(--color-base-400);
    box-shadow: 0 1px 0 var(--color-base-400);

    font: inherit;
    background: var(--color-base-0);
    background: linear-gradient(
        to bottom,
        var(--kbd-surface-top) 0%,
        var(--kbd-surface-bottom) 100%);
}

kbd::after {
    content: '';
    position: absolute;
    top: 2px;
    bottom: -4px;
    left: -3px;
    right: -3px;
    border-radius: 4px;
    border: 1px solid var(--color-base-300);
    border-top: 0;
}
