:root {

    /* 12-column grid */

    --gr1: calc(100% / 12);
    --gr2: calc(2 * 100% / 12);
    --gr3: calc(3 * 100% / 12);
    --gr4: calc(4 * 100% / 12);
    --gr5: calc(5 * 100% / 12);
    --gr6: calc(6 * 100% / 12);
    --gr7: calc(7 * 100% / 12);
    --gr8: calc(8 * 100% / 12);
    --gr9: calc(9 * 100% / 12);
    --gr10: calc(10 * 100% / 12);
    --gr11: calc(11 * 100% / 12);
    --gr12: 100%;

}
