:root {

    --l-0: 1;
    --l-50: 0.98;
    --l-100: 0.94;
    --l-200: 0.88;
    --l-300: 0.80;
    --l-400: 0.72;
    --l-500: 0.64;
    --l-600: 0.56;
    --l-700: 0.48;
    --l-800: 0.42;
    --l-900: 0.36;
    --l-950: 0.32;

    --c-0: 0.01;
    --c-50: 0.02;
    --c-100: 0.03;
    --c-200: 0.06;
    --c-300: 0.09;
    --c-400: 0.12;
    --c-500: 0.12;
    --c-600: 0.09;
    --c-700: 0.06;
    --c-800: 0.03;
    --c-900: 0.02;
    --c-950: 0.01;

    --color-base-text: var(--color-base-900);
    --color-base-hue: 340deg;
    --color-base-int: .2;
    --color-base-lum: 1;

    --color-inverse-text: var(--color-inverse-900);
    --color-inverse-hue: 340deg;
    --color-inverse-int: .2;
    --color-inverse-lum: 1;

    --color-primary-text: #fff;
    --color-primary-hue: 340deg;
    --color-primary-int: 1.2;
    --color-primary-lum: 1;

    --color-secondary-text: #fff;
    --color-secondary-hue: 172deg;
    --color-secondary-int: .72;
    --color-secondary-lum: 1;

    --color-tertiary-text: #fff;
    --color-tertiary-hue: 20deg;
    --color-tertiary-int: .25;
    --color-tertiary-lum: 1;

    --color-success-text: #fff;
    --color-success-hue: 140deg;
    --color-success-int: 1.2;
    --color-success-lum: 1;

    --color-warning-text: #fff;
    --color-warning-hue: 72deg;
    --color-warning-int: 1.33;
    --color-warning-lum: 1.12;

    --color-danger-text: #fff;
    --color-danger-hue: 24deg;
    --color-danger-int: 1.5;
    --color-danger-lum: .9;

    --color-base-light-0: oklch(calc(var(--l-0) * var(--color-base-lum)) calc(var(--c-0) * var(--color-base-int)) var(--color-base-hue));
    --color-base-light-50: oklch(calc(var(--l-50) * var(--color-base-lum)) calc(var(--c-50) * var(--color-base-int)) var(--color-base-hue));
    --color-base-light-100: oklch(calc(var(--l-100) * var(--color-base-lum)) calc(var(--c-100) * var(--color-base-int)) var(--color-base-hue));
    --color-base-light-200: oklch(calc(var(--l-200) * var(--color-base-lum)) calc(var(--c-200) * var(--color-base-int)) var(--color-base-hue));
    --color-base-light-300: oklch(calc(var(--l-300) * var(--color-base-lum)) calc(var(--c-300) * var(--color-base-int)) var(--color-base-hue));
    --color-base-light-400: oklch(calc(var(--l-400) * var(--color-base-lum)) calc(var(--c-400) * var(--color-base-int)) var(--color-base-hue));
    --color-base-light-500: oklch(calc(var(--l-500) * var(--color-base-lum)) calc(var(--c-500) * var(--color-base-int)) var(--color-base-hue));
    --color-base-light-600: oklch(calc(var(--l-600) * var(--color-base-lum)) calc(var(--c-600) * var(--color-base-int)) var(--color-base-hue));
    --color-base-light-700: oklch(calc(var(--l-700) * var(--color-base-lum)) calc(var(--c-700) * var(--color-base-int)) var(--color-base-hue));
    --color-base-light-800: oklch(calc(var(--l-800) * var(--color-base-lum)) calc(var(--c-800) * var(--color-base-int)) var(--color-base-hue));
    --color-base-light-900: oklch(calc(var(--l-900) * var(--color-base-lum)) calc(var(--c-900) * var(--color-base-int)) var(--color-base-hue));
    --color-base-light-950: oklch(calc(var(--l-950) * var(--color-base-lum)) calc(var(--c-950) * var(--color-base-int)) var(--color-base-hue));

    --color-base-dark-0: oklch(calc(var(--l-950) * var(--color-inverse-lum)) calc(var(--c-950) * var(--color-inverse-int)) var(--color-inverse-hue));
    --color-base-dark-50: oklch(calc(var(--l-900) * var(--color-inverse-lum)) calc(var(--c-900) * var(--color-inverse-int)) var(--color-inverse-hue));
    --color-base-dark-100: oklch(calc(var(--l-800) * var(--color-inverse-lum)) calc(var(--c-800) * var(--color-inverse-int)) var(--color-inverse-hue));
    --color-base-dark-200: oklch(calc(var(--l-700) * var(--color-inverse-lum)) calc(var(--c-700) * var(--color-inverse-int)) var(--color-inverse-hue));
    --color-base-dark-300: oklch(calc(var(--l-600) * var(--color-inverse-lum)) calc(var(--c-600) * var(--color-inverse-int)) var(--color-inverse-hue));
    --color-base-dark-400: oklch(calc(var(--l-500) * var(--color-inverse-lum)) calc(var(--c-500) * var(--color-inverse-int)) var(--color-inverse-hue));
    --color-base-dark-500: oklch(calc(var(--l-400) * var(--color-inverse-lum)) calc(var(--c-400) * var(--color-inverse-int)) var(--color-inverse-hue));
    --color-base-dark-600: oklch(calc(var(--l-300) * var(--color-inverse-lum)) calc(var(--c-300) * var(--color-inverse-int)) var(--color-inverse-hue));
    --color-base-dark-700: oklch(calc(var(--l-200) * var(--color-inverse-lum)) calc(var(--c-200) * var(--color-inverse-int)) var(--color-inverse-hue));
    --color-base-dark-800: oklch(calc(var(--l-100) * var(--color-inverse-lum)) calc(var(--c-100) * var(--color-inverse-int)) var(--color-inverse-hue));
    --color-base-dark-900: oklch(calc(var(--l-50) * var(--color-inverse-lum)) calc(var(--c-50) * var(--color-inverse-int)) var(--color-inverse-hue));
    --color-base-dark-950: oklch(calc(var(--l-0) * var(--color-inverse-lum)) calc(var(--c-0) * var(--color-inverse-int)) var(--color-inverse-hue));

    --color-primary-0: oklch(calc(var(--l-0) * var(--color-primary-lum)) calc(var(--c-0) * var(--color-primary-int)) var(--color-primary-hue));
    --color-primary-50: oklch(calc(var(--l-50) * var(--color-primary-lum)) calc(var(--c-50) * var(--color-primary-int)) var(--color-primary-hue));
    --color-primary-100: oklch(calc(var(--l-100) * var(--color-primary-lum)) calc(var(--c-100) * var(--color-primary-int)) var(--color-primary-hue));
    --color-primary-200: oklch(calc(var(--l-200) * var(--color-primary-lum)) calc(var(--c-200) * var(--color-primary-int)) var(--color-primary-hue));
    --color-primary-300: oklch(calc(var(--l-300) * var(--color-primary-lum)) calc(var(--c-300) * var(--color-primary-int)) var(--color-primary-hue));
    --color-primary-400: oklch(calc(var(--l-400) * var(--color-primary-lum)) calc(var(--c-400) * var(--color-primary-int)) var(--color-primary-hue));
    --color-primary-500: oklch(calc(var(--l-500) * var(--color-primary-lum)) calc(var(--c-500) * var(--color-primary-int)) var(--color-primary-hue));
    --color-primary-600: oklch(calc(var(--l-600) * var(--color-primary-lum)) calc(var(--c-600) * var(--color-primary-int)) var(--color-primary-hue));
    --color-primary-700: oklch(calc(var(--l-700) * var(--color-primary-lum)) calc(var(--c-700) * var(--color-primary-int)) var(--color-primary-hue));
    --color-primary-800: oklch(calc(var(--l-800) * var(--color-primary-lum)) calc(var(--c-800) * var(--color-primary-int)) var(--color-primary-hue));
    --color-primary-900: oklch(calc(var(--l-900) * var(--color-primary-lum)) calc(var(--c-900) * var(--color-primary-int)) var(--color-primary-hue));
    --color-primary-950: oklch(calc(var(--l-950) * var(--color-primary-lum)) calc(var(--c-950) * var(--color-primary-int)) var(--color-primary-hue));

    --color-secondary-0: oklch(calc(var(--l-0) * var(--color-secondary-lum)) calc(var(--c-0) * var(--color-secondary-int)) var(--color-secondary-hue));
    --color-secondary-50: oklch(calc(var(--l-50) * var(--color-secondary-lum)) calc(var(--c-50) * var(--color-secondary-int)) var(--color-secondary-hue));
    --color-secondary-100: oklch(calc(var(--l-100) * var(--color-secondary-lum)) calc(var(--c-100) * var(--color-secondary-int)) var(--color-secondary-hue));
    --color-secondary-200: oklch(calc(var(--l-200) * var(--color-secondary-lum)) calc(var(--c-200) * var(--color-secondary-int)) var(--color-secondary-hue));
    --color-secondary-300: oklch(calc(var(--l-300) * var(--color-secondary-lum)) calc(var(--c-300) * var(--color-secondary-int)) var(--color-secondary-hue));
    --color-secondary-400: oklch(calc(var(--l-400) * var(--color-secondary-lum)) calc(var(--c-400) * var(--color-secondary-int)) var(--color-secondary-hue));
    --color-secondary-500: oklch(calc(var(--l-500) * var(--color-secondary-lum)) calc(var(--c-500) * var(--color-secondary-int)) var(--color-secondary-hue));
    --color-secondary-600: oklch(calc(var(--l-600) * var(--color-secondary-lum)) calc(var(--c-600) * var(--color-secondary-int)) var(--color-secondary-hue));
    --color-secondary-700: oklch(calc(var(--l-700) * var(--color-secondary-lum)) calc(var(--c-700) * var(--color-secondary-int)) var(--color-secondary-hue));
    --color-secondary-800: oklch(calc(var(--l-800) * var(--color-secondary-lum)) calc(var(--c-800) * var(--color-secondary-int)) var(--color-secondary-hue));
    --color-secondary-900: oklch(calc(var(--l-900) * var(--color-secondary-lum)) calc(var(--c-900) * var(--color-secondary-int)) var(--color-secondary-hue));
    --color-secondary-950: oklch(calc(var(--l-950) * var(--color-secondary-lum)) calc(var(--c-950) * var(--color-secondary-int)) var(--color-secondary-hue));

    --color-tertiary-0: oklch(calc(var(--l-0) * var(--color-tertiary-lum)) calc(var(--c-0) * var(--color-tertiary-int)) var(--color-tertiary-hue));
    --color-tertiary-50: oklch(calc(var(--l-50) * var(--color-tertiary-lum)) calc(var(--c-50) * var(--color-tertiary-int)) var(--color-tertiary-hue));
    --color-tertiary-100: oklch(calc(var(--l-100) * var(--color-tertiary-lum)) calc(var(--c-100) * var(--color-tertiary-int)) var(--color-tertiary-hue));
    --color-tertiary-200: oklch(calc(var(--l-200) * var(--color-tertiary-lum)) calc(var(--c-200) * var(--color-tertiary-int)) var(--color-tertiary-hue));
    --color-tertiary-300: oklch(calc(var(--l-300) * var(--color-tertiary-lum)) calc(var(--c-300) * var(--color-tertiary-int)) var(--color-tertiary-hue));
    --color-tertiary-400: oklch(calc(var(--l-400) * var(--color-tertiary-lum)) calc(var(--c-400) * var(--color-tertiary-int)) var(--color-tertiary-hue));
    --color-tertiary-500: oklch(calc(var(--l-500) * var(--color-tertiary-lum)) calc(var(--c-500) * var(--color-tertiary-int)) var(--color-tertiary-hue));
    --color-tertiary-600: oklch(calc(var(--l-600) * var(--color-tertiary-lum)) calc(var(--c-600) * var(--color-tertiary-int)) var(--color-tertiary-hue));
    --color-tertiary-700: oklch(calc(var(--l-700) * var(--color-tertiary-lum)) calc(var(--c-700) * var(--color-tertiary-int)) var(--color-tertiary-hue));
    --color-tertiary-800: oklch(calc(var(--l-800) * var(--color-tertiary-lum)) calc(var(--c-800) * var(--color-tertiary-int)) var(--color-tertiary-hue));
    --color-tertiary-900: oklch(calc(var(--l-900) * var(--color-tertiary-lum)) calc(var(--c-900) * var(--color-tertiary-int)) var(--color-tertiary-hue));
    --color-tertiary-950: oklch(calc(var(--l-950) * var(--color-tertiary-lum)) calc(var(--c-950) * var(--color-tertiary-int)) var(--color-tertiary-hue));

    --color-success-0: oklch(calc(var(--l-0) * var(--color-success-lum)) calc(var(--c-0) * var(--color-success-int)) var(--color-success-hue));
    --color-success-50: oklch(calc(var(--l-50) * var(--color-success-lum)) calc(var(--c-50) * var(--color-success-int)) var(--color-success-hue));
    --color-success-100: oklch(calc(var(--l-100) * var(--color-success-lum)) calc(var(--c-100) * var(--color-success-int)) var(--color-success-hue));
    --color-success-200: oklch(calc(var(--l-200) * var(--color-success-lum)) calc(var(--c-200) * var(--color-success-int)) var(--color-success-hue));
    --color-success-300: oklch(calc(var(--l-300) * var(--color-success-lum)) calc(var(--c-300) * var(--color-success-int)) var(--color-success-hue));
    --color-success-400: oklch(calc(var(--l-400) * var(--color-success-lum)) calc(var(--c-400) * var(--color-success-int)) var(--color-success-hue));
    --color-success-500: oklch(calc(var(--l-500) * var(--color-success-lum)) calc(var(--c-500) * var(--color-success-int)) var(--color-success-hue));
    --color-success-600: oklch(calc(var(--l-600) * var(--color-success-lum)) calc(var(--c-600) * var(--color-success-int)) var(--color-success-hue));
    --color-success-700: oklch(calc(var(--l-700) * var(--color-success-lum)) calc(var(--c-700) * var(--color-success-int)) var(--color-success-hue));
    --color-success-800: oklch(calc(var(--l-800) * var(--color-success-lum)) calc(var(--c-800) * var(--color-success-int)) var(--color-success-hue));
    --color-success-900: oklch(calc(var(--l-900) * var(--color-success-lum)) calc(var(--c-900) * var(--color-success-int)) var(--color-success-hue));
    --color-success-950: oklch(calc(var(--l-950) * var(--color-success-lum)) calc(var(--c-950) * var(--color-success-int)) var(--color-success-hue));

    --color-warning-0: oklch(calc(var(--l-0) * var(--color-warning-lum)) calc(var(--c-0) * var(--color-warning-int)) var(--color-warning-hue));
    --color-warning-50: oklch(calc(var(--l-50) * var(--color-warning-lum)) calc(var(--c-50) * var(--color-warning-int)) var(--color-warning-hue));
    --color-warning-100: oklch(calc(var(--l-100) * var(--color-warning-lum)) calc(var(--c-100) * var(--color-warning-int)) var(--color-warning-hue));
    --color-warning-200: oklch(calc(var(--l-200) * var(--color-warning-lum)) calc(var(--c-200) * var(--color-warning-int)) var(--color-warning-hue));
    --color-warning-300: oklch(calc(var(--l-300) * var(--color-warning-lum)) calc(var(--c-300) * var(--color-warning-int)) var(--color-warning-hue));
    --color-warning-400: oklch(calc(var(--l-400) * var(--color-warning-lum)) calc(var(--c-400) * var(--color-warning-int)) var(--color-warning-hue));
    --color-warning-500: oklch(calc(var(--l-500) * var(--color-warning-lum)) calc(var(--c-500) * var(--color-warning-int)) var(--color-warning-hue));
    --color-warning-600: oklch(calc(var(--l-600) * var(--color-warning-lum)) calc(var(--c-600) * var(--color-warning-int)) var(--color-warning-hue));
    --color-warning-700: oklch(calc(var(--l-700) * var(--color-warning-lum)) calc(var(--c-700) * var(--color-warning-int)) var(--color-warning-hue));
    --color-warning-800: oklch(calc(var(--l-800) * var(--color-warning-lum)) calc(var(--c-800) * var(--color-warning-int)) var(--color-warning-hue));
    --color-warning-900: oklch(calc(var(--l-900) * var(--color-warning-lum)) calc(var(--c-900) * var(--color-warning-int)) var(--color-warning-hue));
    --color-warning-950: oklch(calc(var(--l-950) * var(--color-warning-lum)) calc(var(--c-950) * var(--color-warning-int)) var(--color-warning-hue));

    --color-danger-0: oklch(calc(var(--l-0) * var(--color-danger-lum)) calc(var(--c-0) * var(--color-danger-int)) var(--color-danger-hue));
    --color-danger-50: oklch(calc(var(--l-50) * var(--color-danger-lum)) calc(var(--c-50) * var(--color-danger-int)) var(--color-danger-hue));
    --color-danger-100: oklch(calc(var(--l-100) * var(--color-danger-lum)) calc(var(--c-100) * var(--color-danger-int)) var(--color-danger-hue));
    --color-danger-200: oklch(calc(var(--l-200) * var(--color-danger-lum)) calc(var(--c-200) * var(--color-danger-int)) var(--color-danger-hue));
    --color-danger-300: oklch(calc(var(--l-300) * var(--color-danger-lum)) calc(var(--c-300) * var(--color-danger-int)) var(--color-danger-hue));
    --color-danger-400: oklch(calc(var(--l-400) * var(--color-danger-lum)) calc(var(--c-400) * var(--color-danger-int)) var(--color-danger-hue));
    --color-danger-500: oklch(calc(var(--l-500) * var(--color-danger-lum)) calc(var(--c-500) * var(--color-danger-int)) var(--color-danger-hue));
    --color-danger-600: oklch(calc(var(--l-600) * var(--color-danger-lum)) calc(var(--c-600) * var(--color-danger-int)) var(--color-danger-hue));
    --color-danger-700: oklch(calc(var(--l-700) * var(--color-danger-lum)) calc(var(--c-700) * var(--color-danger-int)) var(--color-danger-hue));
    --color-danger-800: oklch(calc(var(--l-800) * var(--color-danger-lum)) calc(var(--c-800) * var(--color-danger-int)) var(--color-danger-hue));
    --color-danger-900: oklch(calc(var(--l-900) * var(--color-danger-lum)) calc(var(--c-900) * var(--color-danger-int)) var(--color-danger-hue));
    --color-danger-950: oklch(calc(var(--l-950) * var(--color-danger-lum)) calc(var(--c-950) * var(--color-danger-int)) var(--color-danger-hue));
}